# Entorno virtual
.venv/
venv/
env/

# Archivos de compilación PyInstaller
build/
dist/
*.spec

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de prueba
test_*.py

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos temporales
*.tmp
*.temp